<!doctype html>
<html class="no-js"{% if config.language_code is defined and config.language_code %} lang="{{ config.language_code|e('html_attr') }}"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block metaTitle %}{% endblock %}{% if config.meta_title is defined and config.meta_title %}{% if block('metaTitle') %} {{ config.meta_title_separator }} {% endif %}{{ config.meta_title }}{% endif %}</title>
        <meta name="description" content="{% block metaDescription %}{% endblock %}{% if not block('metaDescription') and config.meta_description is defined and config.meta_description %}{{ config.meta_description|e('html_attr') }}{% endif %}">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body id="{% block bodyId %}{% endblock %}">
        {% block content %}{% endblock %}

        <script src="assets/js/main.js"></script>

        {% if config.use_google_analytics is defined and config.use_google_analytics == true
            and config.google_analytics_id is defined and config.google_analytics_id %}
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ config.google_analytics_id|e('js') }}','auto');ga('send','pageview');
        </script>
        {% endif %}
    </body>
</html>